body {
    background-color: #dfa9d6;
    color: white;
    text-align: center;
    margin-top: 6%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
}
h1 {
    color: #e240a4;
}